
    @charset "UTF*8";

    *{margin: 0; padding: 0;}
    body,html{width: 100%; margin: 0 auto; -ms-overflow-style: none;}
    ::-webkit-scrollbar{display: none;}
    a{text-decoration: none;}
    ul{list-style: none;}
    label, button, input{background-image: none; background-color: transparent; border: 0; outline: 0;}

/* 헤더영역-logo,tnb */
    .hd{width: 100%; height: 120px; position: fixed; top: 0; left: 0; z-index: 10; border-bottom: 3px solid #fff;}
    .hd.on{background: rgba(167, 3, 3);}
    .logo{display: block; width: 173px; height: 40px; float: left; margin-top: 22px; margin-left: 26px;}
    #tnb{ width: 380px; height: 55px;position: relative; float: right; margin-top: 1%; border-bottom: 2px solid rgb(255, 255, 255);}
    #tnb .loc{width: 380px; height: 50px; }
    #tnb .loc li{float: left;padding-right: 2em;padding-top: 1.2em; box-sizing: border-box;}
    #tnb .loc .log{padding-left: 2.6em;box-sizing: border-box;}
    #tnb .loc li a{color: #ffffff;}
    .lang{float: right;position: absolute;top: 0;left: 50%;padding-top: 1.2em;}
    .lang .cur{display: block; color: #ffffff;}
    
    .lang .lang_sel{transition: 0.3s; height: 0;background: #000;position:absolute; 
        overflow:hidden; z-index:50;}
    .lang .cur:hover .lang_sel{ height: 120px;}
    
    
    .hd i{position: absolute; left: 1em; bottom: 9px;display: block; color: #ffffff;}
    .hd .open{position: absolute; bottom: 8px; left: 3em; color: #ffffff;}

    
    #search_btn{width: 40px; height: 40px; background: rgb(162, 129, 23);
    border-radius: 20px;position: absolute; top: 8px; right: 4em;}
    #search_btn button{display: block; width: 20px; height: 20px;position: absolute; top: 1.3em;right: 2.6em;}
    #search_btn i{color: #ffffff;font-size: 20px;}
    #lst_btn{width: 40px; height: 40px; background: rgb(118, 45, 45);
        border-radius: 20px;position: absolute; top: 8px; right: 0.6em;}
    #lst_btn button{display: block; width: 20px; height: 20px;position: absolute; top: 1.3em;right: 2.6em;}
    #lst_btn i{color: #ffffff; font-size: 20px;}
    
    /* gnb영역 */
    #gnb{clear: both; position: absolute; float: right;  right: calc(50% - 370px);width: 740px; height: 40px; top: 50%;}
    #gnb .gnb_box{width: 740px; height: 30px;}
    #gnb .dp1{float: left;display: block; position:relative; height: 57px;}
    #gnb .dp1 a.dept{width: 120px;line-height: 60px;display: block;color: #ffffff;font-size: 1.1em;
    text-align: center;}
    /* 서브영역 */
    #gnb .sub{  transition: 0.3s; height:0px; background:rgba(167, 3, 3); position:absolute; 
    overflow:hidden; z-index:80; border-right: 0.5px solid rgb(177, 177, 177);border-left: 0.5px solid rgb(177, 177, 177);}
    
    #gnb:hover .sub{ height:170px; }
    
    #gnb .sub li{clear: both; width: 120px;line-height: 30px;text-align: center;}
    .sub li:hover a{background:rgba(41, 41, 41, 0.9);}
    #gnb .sub li a{color: #ffffff; line-height: 2.5em;display: block;}
    #gnb:before{content:""; width: 700px; height:0px;position: absolute; top: 60px;
        left: -700px;z-index:70;background:rgba(167, 3, 3);transition:0.3s; }
    #gnb:after{content:""; width: 1000px; height:0px;position: absolute; top: 60px; transition:0.3s; 
            right: -600px;z-index:70;background:rgba(167, 3, 3);}
    #gnb:hover::before { height: 170px; }
    #gnb:hover::after { height: 170px; }
        
    
   


/* 메인 1p */
    .main{clear: both;width: 100%; height: 100vh;position: relative; overflow: hidden; 
    background-repeat: no-repeat;  background-position: center center; background-size: cover;}
    #main1{background-image: url("./img/1.jpg");}
    .main_wrap{width: 100%; height: 100vh; position: relative;}
    .img_tit{ padding-top: 22em; padding-left: 5em; box-sizing: border-box;}
    .main .cbox{width: 20%; height: 5%; right: 12.4%; position: absolute;top: 30%; }
    .cbox li{float: left; width: 168px; height: 50px;  margin-right: 4%; left: calc(50% - 83px);}
    .cbox .citem1{background: rgba(167, 3, 3); text-align: center; color: #ffffff;}
    
    .cbox .citem1 a{display: block; width: 130px; height: 50px;  text-align: center; color: #ffffff;padding-top: 7%; font-size: 19px;padding-left: 12%;}
    .cbox .citem2{background:rgba(167, 3, 3);}
    .cbox .citem2 a{display: block; width: 130px; height: 50px; text-align: center; color: #ffffff; padding-top: 7%; font-size: 19px;padding-left: 12%;}
    /* .cbos .item1 a, .item2 a{display: block; width: 130px; height: 50px; text-align: center; color: #ffffff; padding-top: 10%; }   
     */
     .cbox i{font-size: 23px; padding-left: 5px; }

     .slide{width: 350px;height: 230px;position: relative; float: right; 
        margin-right: 16.9em; margin-top: 21%; background: #fff;}
     /* top: 30%; right: 7%; */
     .slide .ban_box{width: 330px; height: 215px; clear: both;background: #b64747; margin: 0 auto; margin-top: 2.3%;}
     .ban_box li{float: left;position: relative; overflow-x: hidden; position: absolute;}
     .nbtn{width: 50px; height: 25px; position: absolute;top: 5%;left: 7%;}
     .nbtn li{float: left; width: 20px; height: 20px;}
    .nbtn button{display: block; width: 16px; height: 16px;}
    .nbtn button span{display: block; width: 10px; height: 10px;  border-radius: 11px; background: #ffffff;}

    /* 오른쪽 사이드 슬라이드 버튼 */
    .bar{width: 6%; height: 20%; position: fixed; right: 0;top: 5%;z-index: 999;}
    .bar_box{width: 100%;height: 100%;}
    .bar_box li{border-bottom: 5px solid #fff; line-height: 4rem; }
    .bar_box li a{font-size: 1.1em;color: #ffffff;}

   hr{color:#ffffff;position: absolute; bottom: 10rem;width: 100%; opacity: 0.3;}
   /* bottom right부분 */
    .rbottom{width: 58%; position: absolute;bottom: 128px; left: 2em; display: inline-block;}
    
    /* .rbottom:after{width: 100%;height: 1px; background: #ffffff; content: "";opacity: 0.2;
        position: absolute; bottom: 10rem;left: 0;} */
    .rtit{width: 100%;position: relative; color: rgb(152, 5, 5); line-height:5em;font-size: 20px;
    padding-left:4.5em; }
    .c1{display: block; width: 15px; height: 15px; border-radius: 8px; background: rgba(152, 5, 5);
        position: absolute; left: calc(7% - 7.5px); top: calc(68% - 7.5px);}
    /* .rtit:before{content: "";width: 30px; height: 30px; border-radius: 16px; color: #ffffff;
    position: absolute; left: 0;top: 0; } */

    .rbottom .rbox{width: 100%; height: 100%;position: absolute;left: 9em;top: 4em;}
    .rbox li{float: left; width: 24%;height: 100%;}
    .rbox li a{display: block; width: 100%; height: 80px; color: #ffffff;}
    .c1_1, .c2, .c3{display: block; width: 8px; height: 8px;border-radius: 5px;
   background: #ffffff;}
   .date, .txt{line-height: 1.6em;font-size: 17px;}
   /* 플러스 */
   .plus{ width: 60px; height: 60px; position: absolute;right: 55em; bottom: 8.7em;}
   .plus i{text-align: center; color: #ffffff; font-size:2em;opacity: 0.4;}
   /* sns박스 */
   .sns_box{width: 42%; position: absolute;bottom: 8.9rem;left: 68em;}
   .sns_box ul{width: 100%; }
   .sns_box li{float: left; width: 14%; height: 40px; margin-left: 2.6em;}
   .sns_box a{display: block; width: 100%; height: 100%;}
   .sns_box .facebook.c, .instagram.c, .blogger.c, .youtube.c{width: 40px; height: 40px; display: block; border-radius: 21px; color: #ffffff; 
     text-align: center;line-height: 2.2em;font-size: 20px;}
   .sns_box .facebook{background: rgb(24, 66, 155);}
   .sns_box .instagram{background: rgb(155, 24, 114);}
   .sns_box .blogger{background: rgb(203, 76, 8);}
   .sns_box .youtube{background: rgb(181, 45, 36);}
   .sns_box .sns_text{display: block; color: #ffffff; font-size: 17px;padding-left: 2em;line-height: 1.8em;}

   /* 메인 2p */
   #main2{width: 100%; height: 100vh;}
   #main2 h2{color: #ffffff; font-size: 4em;font-weight: normal;}
   #main2 .csq{display: block; background: rgb(152, 5, 5);width: 50px; height: 5px;}
   .as_box{width: 80%; position: relative; background: #000000;}


  
    
   
    

   




    #main2{background-image: url("./img/view_right_img.jpg");}
    #main3{background-image: url("./img/bg4.jpg");}
   
    .ft{width: 100%; height: 120px; background: #dddddd;}
    
    
  